.file-sensor-shortvalue-div {
    margin: 10px;
}

.button-view-file-sensor {
    margin-left: 0px;
    margin-top: 10px
}

.button-download-file-sensor-value {
    margin-top: 10px;
    margin-left: -20px;
}

.tree-icon-unknown {
    color: gray;
}

.tree-icon-ok {
    color: green;
}

.tree-icon-warning {
    color: yellow;
}

.tree-icon-error {
    color: red;
}

.sensor-icon-with-margin {
    margin-right: 5px;
}

.sensor-icon-without-padding {
    padding: 0px 0px 0px 12px;
}

.time-ago-div {
    color: grey;
}

.scrollableBlock {
    display: block;
    width: 400px;
    max-height: 75vh;
    overflow: auto;
}

.info-link {
    cursor: pointer;
}

#timeRangeSelect {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 100%;
}

.customTimeRange {
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    width: 90%;
    height: 95%;
    top: 1px;
    left: 1px;
    border-width: 0;
    border-color: transparent;
}

.customTimeRange:hover,
.customTimeRange:active,
.customTimeRange:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}