<div class="modal fade" tabindex="-1" role="dialog" id="deletionConfirmation_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletionConfirmation_title"></h5>
            </div>

            <div class="modal-body" id="deletionConfirmation_body"></div>

            <div class="modal-footer">
                <button class="btn btn-secondary col-2" id="deletionConfirmation_okButton">OK</button>
                <button class="btn btn-secondary col-2" onclick="hideDeletionConfirmationModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>
