<div class="modal fade" tabindex="-1" role="dialog" id="info_modal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-break" id="info_title"></h5>
            </div>

            <div class="modal-body text-break" id="info_body"></div>

            <div class="modal-footer">
                <button class="btn btn-secondary col-2 col-lg-1" id="info_okButton"></button>
            </div>
        </div>
    </div>
</div>
