@using HSMServer.Model

@model TimeIntervalViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<form>
    <div class="d-grid">
        <select id="timeIntervalSelect" class="form-select" asp-for="TimeInterval" asp-items="@Model.IntervalItems"></select>
        <input class="customTimeInterval form-control" placeholder="@TimeIntervalViewModel.CustomTemplate" style="display:none;" asp-for="CustomTimeInterval" />
    </div>
</form>


<script>
    displaySelectedOption();

    $('#timeIntervalSelect').change(function () {
        displaySelectedOption();
    });

    function displaySelectedOption() {
        if ('@Model.CanCustomInputBeVisible' === "False") {
            return;
        }

        if ($('option:selected', $('#timeIntervalSelect')).text() == '@TimeInterval.Custom') {
            $('.customTimeInterval').show();
        }
        else {
            $('.customTimeInterval').hide();
        }
    }
</script>
