@using HSMServer.Model

@model TimeIntervalViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<script src="~/moment.js/moment-with-locales.min.js"></script>
<link href="~/lib/datetimepicker/css/datetimepicker.css" rel="stylesheet">
<script src="~/lib/datetimepicker/js/datetimepicker.js"></script>


<form>

    <span>Please, select how long you would like to ignore notifications</span>
    <div class="d-grid">
        <select id="timeIntervalSelect" class="form-select" asp-for="TimeInterval" asp-items="Html.GetEnumSelectList<TimeInterval>()"></select>
        <input class="customTimeInterval form-control" placeholder="dd.HH:mm:ss" style="display:none;" asp-for="CustomTimeInterval" />
    </div>

    <div class="row">
        <div class="form-group col-4">
            <label class="col-form-label">Days</label>
            <input type="number" class="form-control" />
        </div>

        <div class="form-group col-4">
            <label class="col-form-label">Hours</label>
            <input type="number" class="form-control" />
        </div>

        <div class="form-group col-4">
            <label class="col-form-label">Minutes</label>
            <input type="number" class="form-control" />
        </div>
    </div>
</form>

<input id="customTimeIntervalText" style="display:none;" value="@TimeInterval.Custom" />

@*<div id="picker"></div>*@


<script>
    //$('#picker').dateTimePicker({
    //    showTime: true,
    //    selectData: "now"
    //});

    displaySelectedOption();

    $('#timeIntervalSelect').change(function () {
        displaySelectedOption();
    });

    function displaySelectedOption() {
        var selectedOptionText = $('option:selected', $('#timeIntervalSelect')).text();
        var customOptionText = $('#customTimeIntervalText').val();

        if (selectedOptionText == customOptionText) {
            $('.customTimeInterval').show();
        }
        else {
            $('.customTimeInterval').hide();
        }
    }
</script>
