@using HSMServer.Model

@model TimeIntervalViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<form>
    <div class="d-grid">
        <select id="timeIntervalSelect" class="form-select" asp-for="TimeInterval" asp-items="@Model.IntervalItems"></select>
        <input class="customTimeInterval form-control" placeholder="dd.HH:mm:ss" style="display:none;" asp-for="CustomTimeInterval" />
    </div>
</form>

<input id="customTimeIntervalText" style="display:none;" value="@TimeInterval.Custom" />


<script>
    displaySelectedOption();

    $('#timeIntervalSelect').change(function () {
        displaySelectedOption();
    });

    function displaySelectedOption() {
        var selectedOptionText = $('option:selected', $('#timeIntervalSelect')).text();
        var customOptionText = $('#customTimeIntervalText').val();

        if (selectedOptionText == customOptionText) {
            $('.customTimeInterval').show();
        }
        else {
            $('.customTimeInterval').hide();
        }
    }
</script>
