@using HSMServer.Model.ViewModel
@using HSMServer.Constants
@using HSMServer.HtmlHelpers
@model EditProductViewModel

@{ ViewData["Title"] = "Products " + Model.ProductName; }

<div class="container row justify-content-center"></div>