@using HSMServer.Constants
@using HSMServer.Controllers


<script>
    var showProductAccessKeyTable = "@Html.Raw(Url.Action(nameof(AccessKeysController.AccessKeysForProduct), ViewConstants.AccessKeysController))";
</script>


<div class="modal fade" tabindex="-1" role="dialog" id="accessKeys_modal">
    <div class="modal-dialog mw-100 modal-dialog-centered" role="document" id="accessKeys_modalDialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-break" id="accessKeys_modalTitle"></h5>
                <button type="button" class="btn-close" onclick="hideModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0" id="accessKeys_modalBody"></div>
        </div>
    </div>
</div>