@using HSMServer.Model.AccessKeysViewModels
@using HSMServer.Constants
@using HSMServer.Controllers
@using HSMServer.Core.Helpers
@using HSMServer.Core.Model.Authentication

@model List<AccessKeyViewModel>

@{
    ViewData["Title"] = "Access keys";
}


<script>
    var getAvailableAccessKeys = "@Html.Raw(Url.Action(nameof(AccessKeysController.AvailableAccessKeys), ViewConstants.AccessKeysController))";
    var getSearchKeyResult = "@Html.Raw(Url.Action(nameof(AccessKeysController.SearchKeyResult), ViewConstants.AccessKeysController))";
</script>

<link rel="stylesheet" href="~/css/bundles/accessKeyBundle.min.css"/>
<script src="~/js/clipboard.js/clipboard.min.js"></script>


<div class="container">
    <div class="row justify-content-center">
        <div class="d-flex my-3">
            <div class="col-2 mt-1">
                <h5>Access keys</h5>
            </div>

        </div>
        <div class="row ms-0 ps-0">
            <div class="col-3 mb-1 mx-0 px-0">
                <input id="searchKey" type="text" class="form-control" placeholder="Filter by key"/>
            </div>
            <div class="col-5 px-0 ms-1">
                <button onclick="searchKey()" type="button" class="btn btn-secondary">
                    <i type="button" class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div id="accessTable">
        @await Html.PartialAsync("_AllAccessKeys", Model)
        </div>
    </div>
</div>

@await Html.PartialAsync("_AccessKeysModal")


<script>
    var clipboard = new ClipboardJS('[id^="copy_"]');

    // there is code, that need to call allProductsChanged after closing accessKeys_modal (if there is exist checkbox with id=allProducts)
    $('#accessKeys_modal').on('hidden.bs.modal', function (e) {
        allProductsChanged();
    });

    function allProductsChanged() {
        //let element = document.getElementById('allProducts');
        //let isAllProducts = element.checked;

        let isAllProducts = false;  // false while checkbox id=allProducts is not visible (AccessKeys/Index.cshtml)
        $.ajax({
            type: 'GET',
            url: getAvailableAccessKeys + "?AllProducts=" + isAllProducts,
            cache: false,
            async: true,
            success: function (viewData) {
                $('#accessKeysTable').html(viewData);
            }
        });
    }
    
    function searchKey() {
        const keyToSearch = document.getElementById("searchKey").value;
        $.ajax({
                    type: 'GET',
                    url: getSearchKeyResult + "?SearchKey=" + keyToSearch,
                    cache: false,
                    async: true,
                    success: function (viewData) {
                        const isEmpty = document.querySelectorAll("#accessTable tr").length <= 1;
                        if (isEmpty) console.log(12312312312312)
                        $('#accessKeysTable').html(viewData)
                        document.querySelectorAll("#accessTable tr").length <= 1 ? $('#accessKeysTable').html("<h1><strong>Key not found</strong></h1>") : this;
                    }
                });
    }
   
</script>