@using HSMServer.Model.AccessKeysViewModels
@using HSMServer.Constants
@using HSMServer.Controllers

@model List<AccessKeyViewModel>

@{
    ViewData["Title"] = "Access keys";
}


<script>
    var getAvailableAccessKeys = "@Html.Raw(Url.Action(nameof(AccessKeysController.AvailableAccessKeys), ViewConstants.AccessKeysController))";
    var getSearchKeyResult = "@Html.Raw(Url.Action(nameof(AccessKeysController.SearchKeyResult), ViewConstants.AccessKeysController))";
</script>

<script src="~/js/clipboard.js/clipboard.min.js"></script>


<div class="container">
    <div class="row justify-content-center">
        <h5 style='margin: 20px 0px 10px;'>Access keys</h5>

        <input id="searchKey" type="text" class="form-control" placeholder="Input key"/>
        <button onclick="searchKey()" type="button" class="btn btn-primary">Search</button>

        <table class="table">
            <tr>
                <th id="accessKeys_productColumn">
                    Product
                    @* <br />
                    (
                    <input class="form-check-input" type="checkbox" value="" onchange="allProductsChanged()" id="allProducts">
                    <label class="form-check-label" for="allProducts">
                        node)
                    </label>*@
                </th>
                <th>Display name</th>
                <th>Key</th>
                <th>Permissions</th>
                <th>Expiration</th>
                <th>Author</th>
                <th>State</th>
                <th>Actions</th>
                <th></th>
            </tr>
            <tbody id="accessKeysTable">
            @await Html.PartialAsync("_AllAccessKeys", Model)
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_AccessKeysModal")


<script>
    var clipboard = new ClipboardJS('[id^="copy_"]');

    // there is code, that need to call allProductsChanged after closing accessKeys_modal (if there is exist checkbox with id=allProducts)
    $('#accessKeys_modal').on('hidden.bs.modal', function (e) {
        allProductsChanged();
    });

    function allProductsChanged() {
        //let element = document.getElementById('allProducts');
        //let isAllProducts = element.checked;

        let isAllProducts = false;  // false while checkbox id=allProducts is not visible (AccessKeys/Index.cshtml)
        $.ajax({
            type: 'GET',
            url: getAvailableAccessKeys + "?AllProducts=" + isAllProducts,
            cache: false,
            async: true,
            success: function (viewData) {
                $('#accessKeysTable').html(viewData);
            }
        });
    }
    
    function searchKey() {
        const keyToSearch = document.getElementById("searchKey").value;
        $.ajax({
                    type: 'GET',
                    url: getSearchKeyResult + "?SearchKey=" + keyToSearch,
                    cache: false,
                    async: true,
                    success: function (viewData) {
                        $('#accessKeysTable').html(viewData);
                    }
                });
    }
</script>