@model HSMServer.Model.TreeViewModels.SelectedNodeViewModel

@{
    string nodeId = Model.Id;
    var listDivId = $"list_{nodeId}";
    var gridDivId = $"grid_{nodeId}";
}


@if (!Model.HasChildren)
{
    <div class="d-flex justify-content-center align-items-center noData-label">
        <label>No data</label>
    </div>
}
else
{
    <ul id="dataPanel" class='nav nav-tabs' role="tablist">
        <li class='nav-item'>
            <a id="gridLink_@nodeId" class='nav-link' data-bs-toggle='tab' onclick="getGridPage(`gridSensors`);getGridPage(`gridNodes`)" href='#@gridDivId' role="tab"><i class="fa-solid fa-table-cells-large"></i> Grid</a>
        </li>
        <li class='nav-item'>
            <a id="listLink_@nodeId" class='nav-link' data-bs-toggle='tab' onclick="getListPage(`listSensors`);getListPage(`listNodes`)" href='#@listDivId' role="tab"><i class="fa-solid fa-list"></i> List</a>
        </li>
    </ul>
    <div class='tab-content'>
        <div class='tab-pane fade' id=@gridDivId role="tabpanel">
            <div class="accordion" id="grid-accordion_gridNodes"></div>
            <div class="accordion" id="grid-accordion_gridSensors"></div>
        </div>
        <div class='tab-pane fade' id=@listDivId role="tabpanel">
            <div class="accordion" id="list-accordion_listNodes"></div>
            <div class="accordion" id="list-accordion_listSensors"></div>
        </div>
    </div>
}
