@using HSMServer.Model.Folders
@using HSMServer.Model.TreeViewModel
@using HSMServer.Model.Authentication

@model BaseNodeViewModel

@{
    var user = User as User;

    string nodeId = Model.Id.ToString();
    List<NodeViewModel> visibleNodes = new();
    List<NodeViewModel> visibleSensors = new();

    if (Model is FolderModel folder)
        visibleNodes = GetSortedNodes(folder.Products.Values);
    else if (Model is ProductNodeViewModel product)
    {
        visibleNodes = GetSortedNodes(product.Nodes.Values);
        visibleSensors = GetSortedNodes(product.Sensors.Values);
    }

    var listDivId = $"list_{nodeId}";
    var gridDivId = $"grid_{nodeId}";

    var visibilityClass = visibleNodes.Count > 0 || visibleSensors.Count > 0 ? string.Empty : "d-none";
    
    List<NodeViewModel> GetSortedNodes<T>(IEnumerable<T> nodes) where T : NodeViewModel
    {
        return nodes.Where(n => n.HasData)
                    .OrderByDescending(n => n.Status)
                    .ThenBy(n => n.Name)
                    .Take(1000)
                    .Cast<NodeViewModel>().ToList();
    }
}


<ul id="dataPanel" class='nav nav-tabs @visibilityClass' role="tablist">
    <li class='nav-item'>
        <a id="gridLink_@nodeId" class='nav-link' data-bs-toggle='tab' href='#@gridDivId' role="tab"><i class="fa-solid fa-table-cells-large"></i> Grid</a>
    </li>
    <li class='nav-item'>
        <a id="listLink_@nodeId" class='nav-link' data-bs-toggle='tab' href='#@listDivId' role="tab"><i class="fa-solid fa-list"></i> List</a>
    </li>
</ul>
<div class='tab-content'>
    <div class='tab-pane fade' id=@gridDivId role="tabpanel">
         @await Html.PartialAsync("_GridAccordion", Model.GridNodes) 
         @await Html.PartialAsync("_GridAccordion", Model.GridSensors) 
    </div>

    <div class='tab-pane fade' id=@listDivId role="tabpanel">
         @await Html.PartialAsync("_ListAccordion", visibleNodes) 
         @await Html.PartialAsync("_ListAccordion", visibleSensors) 
    </div>
</div>
