@using HSMServer.Extensions
@using HSMServer.Model.TreeViewModel

@model ChildrenStatistic


<div class="d-flex justify-content-start">
    <div class="d-flex ms-3 text-nowrap">
        <span style="min-width: 8rem">@Model.Title:</span>
    </div>
    <div id="general_info_@Model.Title" class="d-flex w-100 ps-2">
        @if (Model.Total > 0)
        {
            @for (int i = 0; i < Model.Statuses.Count; i++)
            {
                <i class='@Model.Statuses[i].Status.ToIcon() pe-1 align-self-center'></i>
                <span>
                    (@Model.Statuses[i].Count)
                </span>
                @if (i != Model.Statuses.Count - 1)
                {
                    <span>,&nbsp;</span>
                }
            }
        }
        else
        {
            @Model.Total
        }
    </div>
</div>
