@using HSMServer.Model.Folders.ViewModels
@using HSMServer.Model.TreeViewModel
@using HSMServer.Model.ViewModel

@model NodeInfoBaseViewModel


<div id="meta_info_general_info">
    <label class="col-form-label fw-bold">General info:</label>

    @if (Model is FolderInfoViewModel folder)
    {
        @await Html.PartialAsync("_ChildrenStatistic", new ChildrenStatistic("Products", folder.TotalProducts, folder.ProductStatuses))
    }
    else if (Model is ProductInfoViewModel product)
    {
        @await Html.PartialAsync("_ChildrenStatistic", new ChildrenStatistic("Nodes", product.TotalNodes, product.NodeStatuses))
        @await Html.PartialAsync("_ChildrenStatistic", new ChildrenStatistic("Sensors", product.TotalSensors, product.SensorsStatuses))
    }
    else if (Model is SensorInfoViewModel sensor)
    {
        @await Html.PartialAsync("_SensorGeneralInfo", sensor)
    }

    @await Html.PartialAsync("_DefaultChat", Model.DefaultChat)
</div>