@using HSMServer.Model.ViewModel
@using HSMServer.Model.TreeViewModel

@model ProductNodeViewModel

@{
    ViewBag.ParentId = Model.EncodedId;
}


<div>
    <div class='row justify-content-start'>
        <div class='d-flex col-md-auto' style="align-items: center">
            <h5 class="m-2">@Html.Raw(Model.FullPath)</h5>
            <button id="editProductButton" type='button' class='btn btn-secondary' onclick="editProductInfoButtonClick()"
                    data-bs-toggle='tooltip' title='edit meta info'>
                <i class='fas fa-edit'></i>
            </button>
        </div>
    </div>
    
    <div id='product_info_@Model.EncodedId'>
        @await Html.PartialAsync("_ProductMetaInfo", new ProductInfoViewModel(Model))
    </div>

    @await Html.PartialAsync("_ChildrenPanel", Model)
</div>