@using HSMServer.Model.ViewModel
@using HSMServer.Model.TreeViewModel

@model ProductNodeViewModel

@{
    ViewBag.ParentId = Model.EncodedId;
}


<div>
    @await Html.PartialAsync("_MetaInfo", new ProductInfoViewModel(Model))
    
    @await Html.PartialAsync("_ChildrenPanel", Model)
</div>