@using HSMServer.Model.ViewModel
@using HSMServer.Model.TreeViewModel

@model ProductNodeViewModel

@{
    ViewBag.ParentId = Model.EncodedId;
}


<div>
    <div id='product_info_@Model.EncodedId'>
        @await Html.PartialAsync("_MetaInfo", new ProductInfoViewModel(Model))
    </div>
    
    @await Html.PartialAsync("_ChildrenPanel", Model)
</div>