@using HSMServer.Model.TreeViewModel
@using HSMServer.Model.Folders

@model BaseNodeViewModel

<div id='list' class='container-fluid ps-3 pe-2 pt-2 overflow-y-auto'>
    @if (Model == null)
    {
        <div>
            <ul id='noData' class='list-group'>
                <li class='list-group-item'>No Data</li>
            </ul>
        </div>
    }
    else if (Model is FolderModel folder)
        @await Html.PartialAsync("_Folder", folder)
    else if (Model is ProductNodeViewModel productVM)
        @await Html.PartialAsync("_Node", productVM)
    else if (Model is SensorNodeViewModel sensorVM)
        @await Html.PartialAsync("_Sensor", sensorVM)
</div>