@using HSMServer.Model.TreeViewModel
@using HSMServer.Model.Folders

@model BaseNodeViewModel


<div id='list' class='container-fluid ps-3 pe-2 pt-2 overflow-y-auto'>
    @(Model switch
    {
        FolderModel folder => await Html.PartialAsync("_Folder", folder),
        ProductNodeViewModel productVM => await Html.PartialAsync("_Node", productVM),
        SensorNodeViewModel sensorVM => await Html.PartialAsync("_Sensor", sensorVM),
        _ => Html.Raw("No Data")
    })
</div>