@model HSMServer.Model.TreeViewModels.ProductNodeViewModel

@if (Model?.FilteredSensors != null && Model.FilteredSensors.Count > 0)
{
    <div>
        @foreach (var sensor in Model.FilteredSensors)
            @await Html.PartialAsync("_SensorAccordion", sensor)
    </div>
}