@using HSMServer.Model.TreeViewModels

@model HSMServer.Model.TreeViewModels.NodeViewModel

<div class='col' id='list'>

    @if (Model == null)
    {
        <div>
            <ul id='noData' class='list-group'>
                <li class='list-group-item'>No Data</li>
            </ul>
        </div>
    }
    else if (Model is ProductNodeViewModel productVM)
        @await Html.PartialAsync("_Sensors", productVM)
    else if (Model is SensorNodeViewModel sensorVM)
        @await Html.PartialAsync("_Sensor", sensorVM)
</div>
