
<div class='dropdown'>
    <button class='btn btn-secondary btn-sm dropdown-toggle' type='button' data-bs-toggle='dropdown'>
        Filters
    </button>
    <div class='dropdown-menu'>
        <form class="px-2">

            <h6 class="dropdown-header">Status</h6>
            <div class="d-flex">
                <div class="form-check">
                    <input checked type="checkbox" class="form-check-input" id="ok">
                    <label class="form-check-label" for="ok" title="ok">
                        <i class="fas fa-circle tree-icon-ok"></i>
                    </label>
                </div>

                <div class="form-check ms-2">
                    <input checked type="checkbox" class="form-check-input" id="warning">
                    <label class="form-check-label" for="warning" title="warning">
                        <i class="fas fa-circle tree-icon-warning"></i>
                    </label>
                </div>

                <div class="form-check ms-2">
                    <input checked type="checkbox" class="form-check-input" id="error">
                    <label class="form-check-label" for="error" title="error">
                        <i class="fas fa-circle tree-icon-error"></i>
                    </label>
                </div>

                <div class="form-check ms-2">
                    <input checked type="checkbox" class="form-check-input" id="unknown">
                    <label class="form-check-label" for="unknown" title="unknown">
                        <i class="fas fa-circle tree-icon-unknown"></i>
                    </label>
                </div>
            </div>
            <div class="dropdown-divider"></div>


            <h6 class="dropdown-header">History</h6>
            <div class="form-check">
                <input checked type="checkbox" class="form-check-input" id="history">
                <label class="form-check-label" for="history">
                    With data
                </label>
            </div>
            <div class="dropdown-divider"></div>

            <h6 class="dropdown-header">Notifications</h6>
            <div class="form-check">
                <input checked type="checkbox" class="form-check-input" id="notifications">
                <label class="form-check-label" for="notifications">
                    Telegram <i class="fab fa-telegram"></i> 
                </label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="blocked">
                <label class="form-check-label" for="blocked">
                    Blocked sensors <i class="fa-solid fa-circle-minus"></i>
                </label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="ignored">
                <label class="form-check-label" for="ignored">
                    Ignored sensors <i class="fa-solid fa-eye-slash"></i>
                </label>
            </div>
        </form>
    </div>
</div>