@using HSMServer.Model.Folders.ViewModels
@using HSMServer.Constants

@model List<FolderViewModel>

@{ ViewData["Title"] = "Products"; }


<script>
    var deleteAction = "@Html.Raw(Url.Action(ViewConstants.RemoveProductAction, ViewConstants.ProductController))";
    var createAction = "@Html.Raw(Url.Action(ViewConstants.CreateProductAction, ViewConstants.ProductController))";
    var editAction = "@Html.Raw(Url.Action(ViewConstants.EditProductAction, ViewConstants.ProductController))";
</script>


<div class="container">
    <div class="row w-100 justify-content-center">
        @await Html.PartialAsync("_FolderAccordion", Model)
    </div>
</div>


@await Html.PartialAsync("~/Views/Shared/_DeletionConfirmationModal.cshtml")

<script>
    //copy buttons
    var clipboard = new ClipboardJS('[id^="copy_"]');

    //delete buttons
    $('[id^="delete_"]').on("click",
        function () {
            key = this.id.substring("delete_".length, this.id.length);
            name = $('#inputName_' + key).text().trim().substring(0, 100);

            showDeletionConfirmationModal(
                `Removing '${name}' product`,
                `Do you really want to remove '${name}' product?`,
                function () {
                    $.ajax({
                        type: 'GET',
                        url: deleteAction + "?Product=" + key,
                        cache: false,
                        async: true,
                        success: function () {
                            document.location.reload();
                        }
                    });
                }
            );
        });

    //create button
    $('#createButton').on('click', function () {
        name = $('#createName').val();

        name = encodeURIComponent(name);
            $.ajax({
            type: 'GET',
            url: createAction + "?Product=" + name,
            cache: false,
            async: true,
            success: function() {
                document.location.reload();
            }
        });
    });

    $('[id^=change_]').on('click', function () {
        key = this.id.substring("change_".length, this.id.length);
        window.location.href = editAction + "?Product=" + key;
    }); 
</script>