@using HSMWebClient.Models
@model ConnectionViewModel

@{
    ViewData["Title"] = "Home Page";
}
@using HSMWebClient
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<form method="post">
    <label id="URLLabel">
        URL address:
        <input id="URL" name="Url" type="text" value="@Model.Url" />
    </label>

    <label id="PortLabel">
        Port:
        <input id="Port" name="Port" type="number" value="@Model.Port" />
    </label>

    <input type="submit" style="text-align: center" value="Submit" />

    <hr />
</form>

<style>
    body {
        margin: 10px;
    }
</style>

@if (Model.Tree != null)
{
<div id="jstree">
    @TreeHelper.CreateTree(Html, Model.Tree)
</div>

    <script>
        $('#jstree').jstree();
    </script>
}


