@model HSMServer.Model.DataAlertsIntervalOperationViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div name="@Model.TargetName" class="d-flex flex-row align-items-center interval-operation">
    <div class="alert-text-block operation-select">@Model.Operation</div>
    <partial name="_TimeIntervalSelect" for="Target" />
</div>
