@using HSMServer.Controllers
@using HSMServer.Model.TreeViewModel

@model TreeViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Tree/_Layout.cshtml";
}


<div class="flex-grow-1 m-2">
    <div align="right">
        <a class="icon-link" asp-action="AddDashboardPanel">
            <i class="fa-solid fa-plus"><use xlink:href="#box-seam"></i> Add panel
        </a>
    </div>
</div>
