@using HSMServer.Controllers
@using HSMServer.Model.TreeViewModel

@model TreeViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Tree/_Layout.cshtml";
}


<div class="d-flex flex-column w-100">
    <div class="m-2">
        <div id="dashboardSettings" class="my-2">
            <div class="d-flex justify-content-between mb-1">
                <h5>Dashboard2</h5>

                <a class="icon-link text-nowrap" href="javascript:editDahsboardSettings();" title='edit dashboard settings'>
                    <i class='fas fa-edit'><use xlink:href="#box-seam"></i> Edit
                </a>
            </div>

            <div id="markdown_description">some description11111111111111111111111111 **222222222222222222222222** 3333333333333333333sdgasgasdg argagagakdfbnlzsdjfb fbjsbhdfaugrfyasdgvfjhasdbf adhgvadhljasgvflkavghdf dfhvdsgbfhvbdfhv dsfjhdfvhabdgvasbd fvgjsdhfvgsjdhfg vsdf vsjdhfgvsjdfhgvjahdvfa;kjsdfvadb vsdjfhgv</div> 
        </div>

        <div id="editableDashboardSettings" class="my-2 d-none">
            <form id="dahsboardSettings_form">
                <div class="d-flex justify-content-between mb-1">
                    <input class="form-control" value="Dashboard2" />

                    <button type="submit" class="btn btn-primary independentSizeButton ms-2">Save</button>
                </div>

                <textarea id='description' class="form-control w-100" type='text'>some description11111111111111111111111111 **222222222222222222222222** 3333333333333333333sdgasgasdg argagagakdfbnlzsdjfb fbjsbhdfaugrfyasdgvfjhasdbf adhgvadhljasgvflkavghdf dfhvdsgbfhvbdfhv dsfjhdfvhabdgvasbd fvgjsdhfvgsjdhfg vsdf vsjdhfgvsjdfhgvjahdvfa;kjsdfvadb vsdjfhgv</textarea>
            </form>
        </div>

        <div class="d-flex justify-content-end">
            <select class="form-select mx-2" style="width: auto">
                <option>last 30 minutes</option>
                <option>last 1 hour</option>
                <option>last 3 hours</option>
                <option>last 6 hours</option>
            </select>

            <a class="icon-link text-nowrap" asp-action="AddDashboardPanel">
                <i class="fa-solid fa-plus"><use xlink:href="#box-seam"></i> Add panel
            </a>
        </div>
    </div>

    <div class="flex-grow-1 h-100 mx-2" style="border-width: 2px; border-style: solid; border-color: black;">
        Drag and drop panel
    </div>
</div>


<script>
    $(document).ready(() => {
        replaceHtmlToMarkdown('markdown_description');
    });

    $(document).on("submit", "#dahsboardSettings_form", function (event) {
        event.preventDefault();
        event.stopImmediatePropagation();

        $('#dashboardSettings').removeClass('d-none');
        $('#editableDashboardSettings').addClass('d-none');
    });

    function editDahsboardSettings() {
        $('#dashboardSettings').addClass('d-none');
        $('#editableDashboardSettings').removeClass('d-none');
    }
</script>
