@using HSMServer.Controllers
@using HSMServer.Model.TreeViewModel

@model TreeViewModel

@{
    ViewData["Title"] = "Dashboards";
    Layout = "~/Views/Tree/_Layout.cshtml";
}
<script>
    var sourceLink = '@Url.Action(nameof(DashboardsController.GetSource))';
</script>

<div class="w-100 overflow-y-auto">
    <h1>This is DASHBOARD!</h1>
    
    <div id="plot" class="w-75 h-75 dropzone">
    </div>
    @(await Html.PartialAsync("Source/Sources"))  
</div>


<script>
    $(document).ready(function (){
        Plotly.newPlot('plot', [], {})
    })
</script>