
@using HSMServer.Extensions

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<HSMServer.Model.ViewModel.JournalViewModel>

<div>
    @foreach (var journal in Model)
    {
        <span>@journal.GenerateStatements()</span>
                                           <br/>
    }

    @* <div class="container d-flex justify-content-center"> *@
    @*     <ul class="pagination"> *@
    @*         <li id="prevPageButton" class="page-item button-link"> *@
    @*             <a class="page-link" aria-label="Previous" onclick="showPage(prevPageAction, '@(Model.SensorId)')"> *@
    @*                 <span aria-hidden="true">&laquo;</span> *@
    @*             </a> *@
    @*         </li> *@
    @*         <li class="page-item"> *@
    @*             <a class="page-link">@(Model.CurrentIndex + 1)</a> *@
    @*         </li> *@
    @*         <li id="nextPageButton" class="page-item button-link"> *@
    @*             <a class="page-link" aria-label="Next" onclick="showPage(nextPageAction, '@(Model.SensorId)')"> *@
    @*                 <span aria-hidden="true">&raquo;</span> *@
    @*             </a> *@
    @*         </li> *@
    @*     </ul> *@
    @* </div> *@
</div>