@model HSMServer.Components.TreeViewComponent

<div class="col-md-auto">
    <div id="jstree">
        <ul>
            @foreach (var (_, node) in Model.Nodes)
            {
                @if (node.Parent == null)
                    @await Html.PartialAsync("_TreeNode", node)
            }
        </ul>
    </div>
</div>