@model HSMServer.Model.ViewModel.TreeViewModel

<div class="col-md-auto">
    <div id="jstree">
        <ul>
            @foreach (var (_, node) in Model.Nodes)
            {
                @await Html.PartialAsync("_TreeNode", node)
            }
        </ul>
    </div>
</div>