@using HSMServer.Model.Groups;

@model GroupViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<form method="post">
    <div class="form-group row mt-2">
        <label class="col-2 col-form-label" asp-for="Name"></label>
        <div class="col p-0">
            <input class="form-control mx-auto" asp-for="Name">
        </div>
    </div>

    <div class="form-group row mt-2">
        <label class="col-2 col-form-label" asp-for="Description"></label>
        <div class="col p-0">
            <textarea type='text' class='form-control' asp-for="Description" value='@Model.Description'></textarea>
        </div>
    </div>

    <div class="form-group row mt-2">
        <label class="col-2 col-form-label" asp-for="Color"></label>
        <div class="col-auto p-0">
            <input class="form-control form-control-color" type="color" asp-for="Color">
        </div>
    </div>

    <label class="col-form-label">Products</label>
    <select class="selectpicker" asp-for="Products" asp-items="@Model.AllProducts" data-live-search="true" data-width="100%" title="Choose products to add" multiple></select>

    <div class="d-flex justify-content-end my-2">
        <button type="submit" class="btn btn-secondary independentSizeButton">Save</button>
    </div>
</form>