.file-sensor-shortvalue-div {
    margin: 10px;
}

.button-view-file-sensor {
    margin-left: 0px;
    margin-top: 10px
}

.button-download-file-sensor-value {
    margin-top: 10px;
    margin-left: -20px;
}

.tree-icon-unknown {
    color: gray;
}

.tree-icon-ok {
    color: green;
}

.tree-icon-warning {
    color: yellow;
}

.tree-icon-error {
    color: red;
}

.sensor-icon-with-margin {
    margin-right: 5px;
}

.sensor-icon-without-padding {
    padding: 0px 0px 0px 12px;
}

.time-ago-div {
    color: grey;
}

.scrollableBlock {
    display: block;
    width: 400px;
    height: 600px;
    overflow: auto;
}

.info-link {
    cursor: pointer;
}

.field-validation-error {
    color: #b94a48;
    font-size: small;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}