@using HSMCommon.Constants
@using HSMServer.Constants
@using HSMServer.Controllers
@using HSMServer.Model.Configuration

@model TelegramSettingsViewModel


Telegram settings


<div>
    You can configure a Telegram bot. Please install it via Telegram and put configuration
    parameters (@ConfigurationConstants.BotName, @ConfigurationConstants.BotToken, @ConfigurationConstants.AreBotMessagesEnabled) in the table below.
    <b>Warning!</b> It will stop current bot.
    Installation link <a href='https://core.telegram.org/bots/features#botfather' target='_blank'>Bot Installation</a>.
</div>

<div class="row ms-5 mt-1 mb-1">
    <button id="restartButton" type="button" class="col-auto btn btn-secondary" style="background-color: #e35478">
        <i class="fab fa-telegram"></i> Restart Telegram Bot
    </button>

    <div class="mt-1" id="message" style="color: red; display: none;"></div>
</div>


<script>
    $('[id^=restartButton]').on('click', function() {
        $.ajax({
            type: 'GET',
            url: '@Html.Raw(Url.Action(nameof(ConfigurationController.RestartTelegramBot), ViewConstants.ConfigurationController))',
            dataType: 'html',
            contentType: 'text',
            cache: false,
            async: true,
            success: function(data) {
                let message = $("#message");
                message.css("display", "block");

                if (data == "") {
                    message.empty().css("color", "green").append("Success.");
                }
                else {
                    message.empty().css("color", "red").append(data);
                }
            }
        });
    });
</script>
