@using HSMCommon.Constants
@using HSMServer.Constants
@using HSMServer.Controllers
@using HSMServer.Model.ViewModel
@model ConfigurationViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Configuration";
}

<script>
    var setToDefaultAction = "@Html.Raw(Url.Action(nameof(ConfigurationController.SetToDefault), ViewConstants.ConfigurationController))";
    var saveAction = "@Html.Raw(Url.Action(nameof(ConfigurationController.SaveConfigObject), ViewConstants.ConfigurationController))";
    var restartBotAction = "@Html.Raw(Url.Action(nameof(ConfigurationController.RestartTelegramBot), ViewConstants.ConfigurationController))";
</script>

<style>
    .default-text-field {
        font-weight: normal;
        color: grey;
        font-size: inherit;
        margin-left: 1vh;
    }

    .config-name {
        margin-right: 1vh;
    }
</style>

<div class="container w-100">
    <div class="row justify-content-center w-100">

        <div class="m-10">
            <div class="row justify-content-start">
                <div class="col-auto">
                    <h5 class="my-3 ms-5">Configuration parameters</h5>
                </div>
            </div>
        </div>

        <div class="col-xxl w-100">
            <h4>Telegram settings</h4>
            <table class="table table-striped w-100">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Parameter name</th>
                        <th scope="col">Parameter value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>
                            <label class="config-name" asp-for="Telegram.BotName"></label>
                        </td>
                        <td>
                            <input class="form-control" asp-for="Telegram.BotName"/>
                        </td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>
                            <label class="config-name" asp-for="Telegram.BotToken"></label>
                        </td>
                        <td>
                            <input class="form-control" asp-for="Telegram.BotToken"/>
                        </td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>
                            <label class="config-name" asp-for="Telegram.IsRunning"></label>
                        </td>
                        <td>
                            <input class="form-check" asp-for="Telegram.IsRunning"/>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h4>Server settings</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Parameter name</th>
                        <th scope="col">Parameter value</th>
                        <th scope="col">Is Default</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>

</script>