@using HSMCommon.Constants
@using HSMServer.Constants
@using HSMServer.Controllers
@using HSMServer.Model.Configuration

@model ConfigurationViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Configuration";
}


<div class="container">
    <div class="row w-100 justify-content-center">
        <div class="d-flex justify-content-start my-3 p-0">
            <h5>Configuration parameters</h5>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="server-tab" data-bs-toggle="tab" data-bs-target="#server" type="button" role="tab" aria-controls="server" aria-selected="true">Server</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="monitoring-tab" data-bs-toggle="tab" data-bs-target="#monitoring" type="button" role="tab" aria-controls="monitoring" aria-selected="false">Self monitoring</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="telegram-tab" data-bs-toggle="tab" data-bs-target="#telegram" type="button" role="tab" aria-controls="telegram" aria-selected="false">Telegram</button>
            </li>
        </ul>
        <div class="tab-content w-100">
            <div class="tab-pane fade show active" id="server" role="tabpanel" aria-labelledby="server-tab">
                <form id="serverSettings_form" method="post" asp-action="@nameof(ConfigurationController.SaveServerSettings)">
                    @await Html.PartialAsync("_Server", Model.Server)
                </form>
            </div>

            <div class="tab-pane fade" id="monitoring" role="tabpanel" aria-labelledby="monitoring-tab">
                <form id="selfMonitoringSettings_form" method="post" asp-action="@nameof(ConfigurationController.SaveMonitoringSettings)">
                    @await Html.PartialAsync("_SelfMonitoring", Model.Monitoring)
                </form>
            </div>

            <div class="tab-pane fade" id="telegram" role="tabpanel" aria-labelledby="telegram-tab">
                <form id="telegramSettings_form" asp-action="@nameof(ConfigurationController.SaveTelegramSettings)">
                    @await Html.PartialAsync("_Telegram", Model.Telegram)
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function savingFormSubscribe(formId, successMessage) {
        $(document).off("submit", `#${formId}`).on("submit", `#${formId}`, function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            $.ajax({
                type: 'POST',
                url: $(`#${formId}`).attr("action"),
                data: new FormData(this),
                datatype: 'html',
                processData: false,
                contentType: false,
                cache: false,
                async: true,
                success: function (viewData) {
                    $(`#${formId}`).html(viewData);
                    showToast(successmessage);
                }
            });
        });
    }
</script>
