@using HSMServer.Constants


<script>
    var getAccessKeysList = "@Html.Raw(Url.Action(ViewConstants.GetAccessKeysAction, ViewConstants.HomeController))";
    var showNewAccessKeyModal = "@Html.Raw(Url.Action(ViewConstants.ShowNewAccessKeyModalAction, ViewConstants.HomeController))";
    var saveNewAccessKey = "@Html.Raw(Url.Action(ViewConstants.SaveNewAccessKeyAction, ViewConstants.HomeController))";
</script>

<script src="~/js/bundles/accessKey.min.js"></script>


<div class="modal fade" tabindex="-1" role="dialog" id="accessKeys_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accessKeys_modalTitle"></h5>
                <button type="button" class="btn-close" onclick="$('#accessKeys_modal').modal('hide');" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="accessKeys_modalBody"></div>
            <div class="modal-footer">
                <button id="addAccessKeyButton" class="btn btn-secondary" onclick="addButtonClick()">Add</button>
                <button id="saveAccessKeyButton" class="btn btn-secondary" onclick="saveButtonClick()">Save</button>
                <button id="cancelAccessKeyButton" class="btn btn-secondary" onclick="cancelButtonClick()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<input id='accessKey_prodcutId' style='display: none' />


<script>
    function addButtonClick() {
        $.ajax({
            type: 'get',
            url: showNewAccessKeyModal,
            datatype: 'html',
            contenttype: 'application/json',
            cache: false,
            success: function (viewData) {
                setModalBody(viewData);
            }
        }).done(function () {
            setModalTitle("New access key");
            buttonsForNewAccessKeyModal();
        });
    }

    function saveButtonClick() {
        let key = {
            "EncodedProductId": $('#accessKey_prodcutId').val(),
            "Name": $('#accessKey_name').val(),
        };

        $.ajax({
            type: 'POST',
            data: JSON.stringify(key),
            url: saveNewAccessKey,
            contentType: 'application/json',
            dataType: 'html',
            cache: false,
            async: true,
            success: function (viewData) {
                setModalBody(viewData);
            }
        }).done(function () {
            setTitleAndButtonsForAccessKeysListModal();
        });
    }

    function cancelButtonClick() {
        showAccessKeysList($('#accessKey_prodcutId').val(), false);
    }
</script>