<div class="modal fade" tabindex="-1" role="dialog" id="accessKeysList_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Access keys list for product</h5>
                <button type="button" class="close" onclick="$('#accessKeysList_modal').modal('hide');" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="accessKeysList_modalBody"></div>
        </div>
    </div>
</div>