@model HSMServer.Model.TreeViewModels.ProductNodeViewModel

@if (Model?.Sensors != null && !Model.Sensors.IsEmpty)
{
    <div>
        @foreach (var sensor in Model.VisibleSensors)
            @await Html.PartialAsync("_SensorAccordion", sensor)
    </div>
}