@model HSMServer.Model.TreeViewModels.ProductViewModel


@if (Model?.Sensors != null && !Model.Sensors.IsEmpty)
{
    <div>Sensors</div>
    @foreach (var s in Model.Sensors)
        {
            <div>@s.Value.Name</div>
        }
}