@using HSMServer.Constants
@using HSMServer.HtmlHelpers
@model HSMServer.Model.ViewModel.TreeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<script>
    var urlAction = "@Html.Raw(Url.Action(ViewConstants.UpdateAction, ViewConstants.HomeController))"
    var historyAction = "@Html.Raw(Url.Action(ViewConstants.HistoryAction, ViewConstants.HomeController))"
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

<script src="https://kit.fontawesome.com/96e197af10.js" crossorigin="anonymous"></script><link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<script src="/js/signalr/dist/browser/signalr.min.js"></script>

<div style="margin: 10px">
    <div id="updateTime"></div>
    <hr />
</div>

<div class="container">
    <div id="mainContainer" class="row">
        @ViewHelper.CreateTreeWithLists(Model)

    </div>
    <hr />
</div>

<script>
    initializeTree();

    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl('/monitoring')
        .build();

    hubConnection.on('SendSensorUpdates', function (newModel) {
        if (newModel == undefined) return;

        $.ajax({
            type: 'POST',
            data: JSON.stringify(newModel),
            url: urlAction,
            dataType: 'html',
            contentType: 'application/json',
            cache: false,
            async: true
        }).done(function (data) {
            var node = $('#jstree').jstree().get_selected(true)[0];

            data = data.replace('{"value":"', '');//fix sometime
            data = data.replace('"}', '');

            $("#mainContainer").empty();
            $("#mainContainer").append(data);

            initializeTree();

            $('#list_' + node.id).css('display', 'block');
            $('#jstree').jstree('select_node', node.id);

            $('#updateTime').empty();
            $('#updateTime').append('Update Time: ' + new Date().toUTCString());
        });
    });

    hubConnection.start().then(() => {
        console.log(hubConnection.connectionId);
    });

    function initializeHistory(product, path, totalCount, historyAction) {
        if (totalCount == undefined)
            totalCount = 10;

        $.ajax({
            type: 'POST',
            data: JSON.stringify(data(product, path, totalCount)),
            url: historyAction,
            dataType: 'html',
            contentType: 'application/json',
            cache: false,
            async: true
        }).done(function (data) {
            //console.log(data);

            data = data.replace('{"value":"', '');//fix sometime
            data = data.replace('"}', '');

            console.log(`#values_${product}_${path}`);

            $(`#values_${product}_${path}`).empty();
            $(`#values_${product}_${path}`).append(data);
        })
    }

    function data(product, path, totalCount) {
        return { "Path": path, "Product": product, "TotalCount": totalCount };
    }

    $(".accordion-button").on("click", function () {
        product = this.id.split('_')[0];
        path = this.id.substring(product.length + 1, this.id.length);
        totalCount = $('#inputCount_' + this.id).val();

        initializeHistory(product, path, totalCount, historyAction);
    });

    $('[id^="reload_"]').on("click", function () {
        id = this.id.substring("reload_".length, this.id.length);
        product = id.split('_')[0];
        path = id.substring(product.length + 1, this.id.length);
        totalCount = $('#inputCount_' + id).val();

        initializeHistory(product, path, totalCount, historyAction);
    })


</script>
