@using HSMServer.Constants
@using HSMServer.HtmlHelpers
@model HSMServer.Model.ViewModel.TreeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<script>
    var urlAction = "@Html.Raw(Url.Action(ViewConstants.UpdateAction, ViewConstants.HomeController))"
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>



<form method="post" style="margin: 10px">
    <div id="updateTime"></div>
    <hr />
</form>

<div class="container">
    <div id="mainContainer" class="row">
        @ViewHelper.CreateTreeWithLists(Model)

    </div>
    <hr />
</div>



<script>
    function tree() {
        $('#jstree').jstree();

        $('#updateTime').empty();
        $('#updateTime').append('Update Time: ' + new Date().toUTCString());

        $('#jstree').on('activate_node.jstree', function (e, data) {
            if (data == undefined || data.node == undefined || data.node.id == undefined)
                return;
            //alert('clicked node: ' + data.node.id);

            $('[id^="list_"]').css("display", "none"); //start with

            if (document.getElementById('list_' + data.node.id) == null)
                $('#list_sensors_header').css('display', 'none');
            else
                $('#list_sensors_header').css('display', 'block');

            $('#list_' + data.node.id).css('display', 'block');
        });
    }

    tree();
</script>

<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl('/monitoring')
        .build();

    hubConnection.on('SendSensorUpdates', function (newModel) {
        //console.log('Updated items count = ' + data.length);
        //console.log('Data:' + newModel);

        if (newModel == undefined) return;

        $.ajax({
            type: 'POST',
            data: JSON.stringify(newModel),
            url: urlAction,
            dataType: 'html',
            contentType: 'application/json',
            cache: false,
            async: true
        }).done(function (data) {
            var node = $('#jstree').jstree().get_selected(true)[0];

            data = data.replace('{"value":"', '');//fix sometime
            data = data.replace('"}', '');

            $("#mainContainer").empty();
            $("#mainContainer").append(data);

            tree();

            $('#list_' + node.id).css('display', 'block');
            $('#jstree').jstree('select_node', node.id);

            $('#updateTime').empty();
            $('#updateTime').append('Update Time: ' + new Date().toUTCString());
        });
    });

    hubConnection.start().then(() => {
        console.log(hubConnection.connectionId);
    });
</script>
