@model HSMServer.Model.ViewModel.AlertIconsViewModel


@foreach (var (icon, count) in Model.VisibleIcons)
{
    <span class='tree-alert-icon'>@icon<span class='badge badge-dark @(count > 1 ? "d-block" : "d-none")'>@Model.GetLabelCount(count)</span></span>
}

@if (Model.IsTooLong)
{
    <span>...</span>
}
