@using HSMServer.Model.ViewModel
@model HSMServer.Model.ViewModel.AlertViewModel


@foreach (var (icon, count) in Model.Alerts.Take(Model.TakeNumber))
{
    <span class='tree-alert-icon'>@icon<span class='badge badge-dark @(count > 1 ? "d-block" : "d-none")'>@(count > AlertViewModel.MaxBadgeCounterSize ? AlertViewModel.InfiniteCharacter : count)</span></span>
}

@if (Model.IsTooLong)
{
    <span>...</span>
}
