@using HSMServer.Extensions
@using HSMServer.Controllers
@using HSMServer.Constants
@using HSMServer.Model.DataAlerts

@model ConditionViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    var condition = Model.Property;
    var isSecondaryCondition = !Model.IsMain;
}


<div name="alertCondition" class="d-flex flex-row align-items-center alert-blocks-group py-1">
    <div class="@isSecondaryCondition.ToVisibility() alert-text-block alert-add ms-3 me-2">and</div>

    <select class="alert-block alert-select property-select" asp-for="Property" asp-items="@Model.PropertiesItems" data-type="@ViewData["type"]"></select>

    <div class="flex-row align-items-center operation ms-2">
        @if (condition is AlertProperty.TimeToLive or AlertProperty.ConfirmationPeriod)
        {
            @await Html.PartialAsync("~/Views/Home/Alerts/ConditionOperations/_IntervalOperation.cshtml", Model.GetIntervalOperations())
        }
        else if (condition is AlertProperty.NewSensorData)
        {
            @await Html.PartialAsync("~/Views/Home/Alerts/ConditionOperations/_NewDataOperation.cshtml")
        }
        else
        {
            @await Html.PartialAsync("~/Views/Home/Alerts/ConditionOperations/_SimpleOperation.cshtml", Model.GetOperations())
        }
    </div>

    <a class="deleteCondition"><i class="@isSecondaryCondition.ToVisibility() fa-solid fa-xmark alert-delete-button"></i></a>
</div>


<script>
    $('select[name="Property"]').off("change").on("change", function () {
        let dataAlert = $(this).parents("div.dataAlertRow:first");
        let type = $(this).data('type');

        let conditionBlock = $(this).parents("div[name='alertCondition']:first");
        let operation = conditionBlock.find($(`div.operation`));

        let property = $(this).val();

        $.ajax({
            url: `@Url.Action(nameof(HomeController.GetOperation), ViewConstants.HomeController)?type=${type}&property=${property}`,
            cache: false
        }).done(function (viewData) {
            operation.html(viewData);
        });
    });

    $("a.deleteCondition").off("click").on("click", function () {
        $(this).parents("div[name='alertCondition']:first").remove();
    });
</script>
