<div class="modal fade" tabindex="-1" role="dialog" id="alertScheduleModal">
    <div class="modal-dialog mw-100 modal-dialog-centered" role="document" id="alertScheduleModalDialog" style="min-width: 600px; min-height: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-break" id="alertScheduleModalTitle"></h5>
                <button type="button" class="btn-close" onclick="hideScheduleModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0" id="alertScheduleModalBody" style="flex: 1; min-height: 0; display: flex; flex-direction: column;">
                
            </div>
        </div>
    </div>
</div>