<div class="modal fade" tabindex="-1" role="dialog" id="alertScheduleModal">
    <div class="modal-dialog mw-100 modal-dialog-centered" role="document" id="alertScheduleModalDialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-break" id="alertScheduleModalTitle"></h5>
                <button type="button" class="btn-close" onclick="hideScheduleModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0" id="alertScheduleModalBody"></div>
        </div>
    </div>
</div>