.key-icon-active {
    color: green;
}

.key-icon-expired {
    color: #ffc107;
}

.key-icon-blocked {
    color: black;
}

.key-icon-with-margin {
    margin-right: 5px;
}

#accessTable .displayName{
    max-width: 20rem;
    min-width: 10rem;
}
#accessTable .productName{
    max-width: 20rem;
    min-width: 10rem;
}
#accessTable .form-control{
    border: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-bottom: solid;
    border-bottom-color: grey;
    border-bottom-width: thin;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}