
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: -177%;
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.color-grid {
    display: flex;
    flex: 1 2 auto;
    flex-wrap: wrap;
    height: 200px;
    width: auto;
    min-width: 200px;
    flex-direction: column; /* Adjust the max-width as needed */
}

.dropdown-item.color-option {
    width: 30px;
    height: 30px;
    display: flex;
    border: 1px solid #000;
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

.dropdown-item.color-option:hover {
    opacity: 0.7;
}