/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.spinner {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

:root{
    --footer-height: 3rem;
    --header-height: 3rem;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.header{
    height: var(--header-height);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: var(--footer-height);
}

.login-form-div {
    vertical-align: central;
}

.container {
    display: flex;
}

.field-validation-error {
    color: #b94a48;
    font-size: small;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

#actionButton {
    border: 0;
}

.vakata-context li>a {
    display: block;
    padding: 0 2em 0 2em;
    text-decoration: none;
    width: auto;
    color: black;
    white-space: nowrap;
    line-height: 2.4em;
    text-shadow: 1px 1px 0 white;
    border-radius: 1px;
}

.vakata-context ul li a{
    padding-left: 0;
}

.vakata-context ul li a svg{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 1em;
    height: 1em;
}

.dropdown-header {
    display: block;
    padding: .5rem 1rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #6c757d;
    white-space: nowrap;
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,.15);
}

.table td a {
    text-decoration: none;
    font-weight: bold;
}

.table td a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.no-transition {
    transition: none!important;
    -webkit-transition: none!important;
    display: none;
}

.disabled-link {
    pointer-events: none;
    cursor: default;
    color: grey;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--bs-navbar-active-color);
    font-weight: 500;
}

.form-control::placeholder {
    color: darkgray;
    opacity: 1;
}

.help-popover {
    color: #0366d6;
    cursor: pointer;
    text-decoration: underline;
}

.note {
    font-size: smaller;
    color: gray;
    margin-left: 2px;
    margin-top: -2px;
}

/* Wrappers
-------------------------------------------------- */

.body-content-wrapper{
    width: 100%;
    min-height: 100vh; 
    position: relative
}

.body-content{
    padding-bottom: var(--footer-height)
}

.noHover{
    pointer-events: none;
}

.bootstrap-select.unit-select {
    width: 9rem !important;
}
