/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        height: 100%;
        width: 100%;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.header{
    height: 3rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 3rem;
}

.login-form-div {
    vertical-align: central;
}

.container {
    display: flex;
}

.field-validation-error {
    color: #b94a48;
    font-size: small;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

.form-check-input:checked{
    background-color: grey !important;
    border: 0;
}

#messages-settings:checked{
    background-color: #0d6efd !important;
    border: 0;
}

.form-check-input:focus,
.form-control:focus,
.label::after,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: 0px 0px 8px rgba(122, 121, 118,.9) !important;
}

#actionButton {
    border: 0;
}

.vakata-context li>a {
    display: block;
    padding: 0 2em 0 2em;
    text-decoration: none;
    width: auto;
    color: black;
    white-space: nowrap;
    line-height: 2.4em;
    text-shadow: 1px 1px 0 white;
    border-radius: 1px;
}

.vakata-context ul li a{
    padding-left: 0;
}

.vakata-context ul li a svg{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 1em;
    height: 1em;
}

.dropdown-header {
    display: block;
    padding: .5rem 1rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #6c757d;
    white-space: nowrap;
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,.15);
}

.table td a {
    text-decoration: none;
    font-weight: bold;
}

.table td a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.no-transition {
    transition: none!important;
    -webkit-transition: none!important;
    display: none;
}