@model HSMServer.Model.ViewModel.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<style></style>

<div class="container" style="margin-top: 200px">

    <div class="row">
        <div class="col">
            <i class="fas fa-exclamation-triangle" style="font-size: 150px"></i>
        </div>
        <div class="col col-md-auto">
            <h2>Error occurred!</h2>
            <h4>@Model.StatusCode</h4>
            <h4>@Model.ErrorText</h4>
        </div>
    </div>
</div>