@using HSMServer.Constants
@using HSMServer.Controllers
@using HSMServer.Model

@model TelegramSettingsViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h6 class="fw-bold">Messages settings</h6>

<form class="mx-4 my-2" method="post" asp-controller="@ViewConstants.NotificationsController"
      asp-action="@nameof(NotificationsController.UpdateTelegramSettings)"
      asp-route-entityId="@ViewBag.EntityId">
    @await Html.PartialAsync("~/Views/Notifications/_MessagesSettings.cshtml", Model)
</form>

@await Html.PartialAsync("~/Views/Notifications/_Chats.cshtml", Model.Chats)
