name: Collector nuget build

on:
  workflow_dispatch:

jobs:
  build-nuget:
    runs-on: ubuntu-latest
    environment: Nuget
    env:
      SolutionPath: src/collector/HSMDataCollector.sln
      CollectorPath: src/collector/HSMDataCollector/HSMDataCollector.csproj
      OutputFolder: ${{ github.workspace }}/BuildOutput
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

     # - name: Intall nuget
     #   uses: nuget/setup-nuget@v2
     #   with:
     #    nuget-api-key: ${{ secrets.NUGETKEY }}

      - name: Install dependencies
        run: dotnet restore ${{ env.SolutionPath }}

      - name: Build Solution
        run: dotnet build ${{ env.SolutionPath }} -c Release --no-restore

      - name: Test Solution
        run: dotnet test ${{ env.SolutionPath }}

      - name: Pack collector
        run: dotnet pack ${{ env.CollectorPath }} -c Release -o ${{ env.OutputFolder }}

      - name: Push nuget
        run: dotnet nuget push ${{ env.OutputFolder }}/*.nupkg --api-key ${{ secrets.NUGETKEY }} --source https://api.nuget.org/v3/index.json
